<div>
<form action="{% url 'words:load_words' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Submit" />
</form>
</div>
<div>

{% if message %}
    <p><strong>{{message}}</strong></p>
{% endif %}
</div>