<div>
<form action="{% url 'words:search' %}" method="post">
    {% csrf_token %}
    <input type="text" name="search" value="{{search}}">
    <br/>
    <input type="submit" value="Submit" />
</form>
</div>

<div>
{% if not words %}
    <p>Word does not exist</p>
{% endif %}
{% for word in words %}
    <p>{{word.key}}: {{word.definition}}</p>
{% endfor %}
</div>